<section class="carousel-container">
    <h3>גלריית התמונות של מרוץ תרומה לקהילה ה1</h3>
    <div class="container ">
          <carousel [isAnimated]="true">
            <slide *ngFor="let image of images1">
                <div class="carousel-slide">
                    <img class="carousel-image" src="{{ image }}" alt="Image">
                </div>
            </slide>
          </carousel>
      </div>
    
      <h3>גלריית התמונות של מרוץ תרומה לקהילה ה2</h3>
      <div class="container">
          <carousel [isAnimated]="true">
            <slide *ngFor="let image of images2">
                <div class="carousel-slide">
                    <img class="carousel-image" src="{{ image }}" alt="Image">
                </div>
            </slide>
          </carousel>
      </div>
    
      <h3>גלריית התמונות של מרוץ תרומה לקהילה ה3</h3>
      <div class="container">
          <carousel [isAnimated]="true">
            <slide *ngFor="let image of images3">
                <div class="carousel-slide">
                    <img class="carousel-image" src="{{ image }}" alt="Image">
                </div>
            </slide>
          </carousel>
      </div>
</section>
