<section class="ways-container">
    <div class="title">
        <p>דרכי הגעה וחנייה </p>
    </div>

    <div>
        <p>המרוץ יתקיים באיצטדיון אתלטיקה ראשון לציון </p>
        <p>למיקום המדוייק   <span>
            <a href="https://www.google.com/maps/place/%D7%90%D7%A6%D7%98%D7%93%D7%99%D7%95%D7%9F+%D7%90%D7%AA%D7%9C%D7%98%D7%99%D7%A7%D7%94+%D7%A2%D7%99%D7%A8%D7%95%D7%A0%D7%99%E2%80%AD/@31.9797747,34.7670471,15z/data=!4m6!3m5!1s0x1502b38c3e6ffcbb:0xe7c25e2847f7320d!8m2!3d31.9797747!4d34.7670471!16s%2Fg%2F1hb_d6zy8?entry=ttu"></a>
        </span></p>
    </div>

    <div class="title">
        <p>חניונים</p>
    </div>
    <p>מסביב לאיצטדיון יש חניונים שאפשר להחנו בהם בחינם</p>
</section>
