<section class="footer">
    <div class="media">
        <h4>תישארו מעודכנים </h4>
        <ul>
            <li>
                <a href="https://www.facebook.com/eldar.bachar?mibextid=LQQJ4d" target="_blank">
                    <img src="../../../assets/icons/facebook_social_icon.png" alt="My Icon">
                </a>
            </li>
            <li>
                <a href="https://instagram.com/eldar_bachar?igshid=MzRlODBiNWFlZA==" target="_blank">
                    <img src="../../../assets/icons/instagram.png" alt="My Icon">
                </a>
        </ul>
    </div>



    <div class="copy-right">
        <h4>
            MorRevah10&copy;
        </h4>
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/mor-revah/" target="_blank">
                    <img src="../../../assets/icons/linkedin_icon.png" alt="My Icon">
                </a>
            </li>
                <li>
                <a href="https://github.com/morrevah10" target="_blank">
                    <img src="../../../assets/icons/github_icon.png" alt="My Icon">
                </a>
            </li>
        </ul>

    </div>
</section>
