
<section class="dialog-container">
  <h2 class="title" mat-dialog-title>הצהרת בריאות משתתף</h2>
  <mat-dialog-content class="mat-typography">
    <p class="text">
      אני החתומ/ה מטה מצהיר/ה בזאת שהנני בריא/ה וכשיר/ה פיזית ונפשית להשתתף במרוץ איתן (להלן: "המרוץ") והתאמנתי לקראתו כנדרש.</p>
    <p class="text">אני מצהיר/ה כי מצבי הגופני והנפשי נבדק ואושר בטרם השתתפותי במרוץ בידי רופא מוסמך ולא נמצא כל ממצא חריג.</p>
    <p class="text">ידוע לי כי ההשתתפות במרוץ כרוכה במאמץ פיזי ניכר ואני מבינ/ה כי השתתפותי במרוץ, במידה ואיני כשיר/ה גופנית כיאות, עלולה לסכן את בריאותי.
  
    </p>
    <p class="text">ידוע לי כי הסכמת המארגנים להשתתפותי במרוץ נשענת על הצהרתי זו כי אני בריא/ה וכשיר/ה להשתתף במרוץ.
  
    </p>
    <p class="text">הנני מתחייב שלא להשתתף במרוץ במקרים הבאים:</p>
    <ul class="text-ul">
      <li>במידה וחום גופי ביום המרוץ יעלה על 38 מעלות צלזיוס.</li>
      <li>במידה ואני חווה סימפטומים של שיעול ו/או קשיי נשימה (למעט שיעול הנובע ממצב כרוני של אסטמה או אלרגיה)
      </li>
      <li>במידה והייתי במגע עם חולה קורונה מאומת בשלושת השבועות לפני מועד המרוץ.
      </li>
  </ul>
    <p class="text">הנני מצהיר/ה כי במידה ויחול שינוי במצבי הפיזי או הנפשי אעדכן מיד את מארגני המרוץ.
  
    </p>
    <p class="text">אני מצהיר/ה כי הנני משתתפ/ת במרוץ מתוך בחירתי האישית ורצוני החופשי.
  
    </p>
    <p class="text">ידוע לי כי המסלולים במרוץ הינם ברמת קושי בינונית וכוללים קטעים העוברים בכביש ובשטח וכי מדובר בתחרות בעצימות גובהה, שכרוכה במאמץ גופני ונפשי וכוללת ריצה בכבישים, אזורים פתוחים ובתנאי שטח שיתכן ויהיו עם שלוליות מים וקטעים בוציים ובמזג אוויר העשוי להיות חם/ לח/ גשום. אני מצהירה כי הנני מודע/ת לתנאי השטח ומסיר מהמארגנים את האחריות במקרה של החלקה או נפילה או פציעה שתיגרם עקב תנאים אלו.</p>
    <p class="text">אני מצהיר/ה כי אין לי ולא יהיו כל טענות ו/או תביעות מכל סוג שהוא כלפי מארגני המרוץ ו/או המרכז לחינוך וספורט רמת השרון ו/או עיריית רמת השרון בגין כל נזק שיגרם לי ולרכושי כתוצאה מהשתתפות במרוץ, אם יגרם לי.</p>
    <p class="text">ידוע לי כי מארגני המרוץ ו/או המרכז לחינוך וספורט רמת השרון ו/או עיריית רמת השרון ו/או עובדיהן לא יישאו בכל אחריות לנזק כלשהו, שיגרם לי, לרבות נזקי גוף ונפש, שיגרמו לי לפני המרוץ, במהלכו או לאחריו.</p>
    <p class="text">אני הח"מ מצהיר/ה בזאת שאני מכיר/ה בזכותם של המארגנים למנוע את השתתפותי לפני או במהלך המרוץ, מכל סיבה שהיא, כפי שימצאו זאת לנכון.</p>
    <p class="text">אני הח"מ מתחייב/ת בזאת למלא אחר כל ההוראות, התקנות והדרישות המופיעות כאן או הוראות עליהן יחליטו המארגנים לפני המרוץ או במהלכו.
  
    </p>
    <p class="text">אני הח"מ מוותר בזאת על כל זכות לתבוע תביעת נזיקין את המרכז לחינוך וספורט, את עיריית רמת השרון, את מארגני המרוץ, נציגיהם, מלוויהם, הצוות הרפואי ו/או הפרא-רפואי וכל מי שמעורב במישרין או בעקיפין במרוץ.</p>
    <p class="text">אני מתחייב/ת לשפות את הגורמים המצוינים לעיל בגין כל נזק שייגרם להם ו/או כל תשלום שישלמו כתוצאה מתביעה או דרישה שתועלה נגד גורמים אלה על ידי או על ידי מי מכוחי או מטעמי בעניינים הנוגעים למרוץ.</p>
    <p class="text">אני הח"מ מצהיר/ה כי קראתי את תקנון המרוץ ואני מבינ/ה ומאשר/ת אותו.
  
    </p>
    <p class="text">הנני מצהיר/ה כי קראתי בעיון את הצהרת הבריאות, אני מבינ/ה ומאשר/ת אותה.</p>
  
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>ביטול</button>
    <button mat-button (click)="onConfirm()" cdkFocusInitial>אישור</button>
  </mat-dialog-actions>
</section>