<section class="dialog-container">
  <h2 class="title" mat-dialog-title>הצהרת בריאות משתתף</h2>
  <mat-dialog-content class="mat-typography">
    <p class="text">
      אני החתומ/ה מטה מצהיר/ה בזאת שהנני בריא/ה וכשיר/ה פיזית ונפשית להשתתף
      במרוץ איתן (להלן: "המרוץ") והתאמנתי לקראתו כנדרש.
    </p>

    <p class="text">
      אני מצהיר/ה כי מצבי הגופני והנפשי נבדק ואושר בטרם השתתפותי במרוץ בידי רופא
      מוסמך ולא נמצא כל ממצא חריג.
    </p>

    <p class="text">
      ידוע לי כי ההשתתפות במירוץ כרוכה במאמץ פיזי ניכר ואני מבינ/ה כי השתתפותי
      במרוץ , במידה ואיני כשיר/ה גופנית כיאות , עלולה לסכן את בריאותי .
    </p>

    <p class="text">
      ידוע לי כי הסכמת המארגנים להשתתפותי במירוץ נשענת על הצהרתי זו כי אני בריא/ה וכשיר/ה להשתתף במירוץ .
    </p>

    <p class="text">הנני מצהיר/ה כי במידה ויחול שינוי במצבי הפיזי או הנפשי אעדכן מיד את מארגני המירוץ .

    </p>

    <p class="text">
      אני מצהיר כי השתתפותי במירוץ מתוך בחירתי האישית ורצוני החופשי .
    </p>

    <p class="text">
      אני מצהיר/ה כי אין ולא יהיו לי כל טענות ו/או תביעות מכל סוג שהוא כלפי מארגני המירוץ בגין כל נזק שיגרם לי ולרכושי כתוצאה מהשתתפות במירוץ ,אם יגרם לי .
    </p>

    <p class="text">
    אני הח"מ מצהיר/ה בזאת שאני מכיר/ה בזכותם של מארגני המירוץ למנוע את השתתפותי לפני או במהלך המירוץ ,מכול סיבה שהיא ,כפי שימצאו לנכון .
    </p>

    <p class="text">
    אני הח"מ מתחייב/ת בזאת למלא את כל ההוראות, התקנות והדרישות המופיעות כאן או ההוראות עליהן יחליטו המארגנים לפני או במהלך המרוץ .
    </p>
    <p class="text">
      הנני מצהיר/ה כי קראתי בעיון את הצהרת הבריאות ואני מבינ/ה ומאשר/ת אותה .
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>ביטול</button>
    <button mat-button (click)="onConfirm()" cdkFocusInitial>אישור</button>
  </mat-dialog-actions>
</section>
