<section class="donation-container">
  <h3 class="donation-title">תרומה לקהילה</h3>
  <div class="detail">
    <p>מרוץ איתן הוא מרוץ התרומה לקהילה ה4 שלנו</p>
    <p>
      כול שנה קהילת הרצים שלנו בוחרת עומתה וכלל ההכנסות של המרוץ נתרמות לעמותה
      שנבחרה
    </p>
  </div>

  <div class="detail-donation">
    <div class="left">
      <p>השנה ברוח הספורטיביות החלטתנו לבחור בעמותת איתן</p>
      <p>
        איתן – כל אחד יכול: ארגון חברתי המעצים ומקדם
        אנשים עם יכולות מיוחדות (צרכים מיוחדים) באמצעות אימוני כושר מקצועיים
        בחברה הישראלית.
      </p>
      <p>ובכך להוכיח שכול אחד יכול להתעסק בספורט</p>
    </div>

    <div class="right">
      <p>
        ניתן לקרוא יותר באתר העמותה
        <a href="https://www.everybodycan.co.il/">באתר העמותה</a>
      </p>
      <img src="../../../assets/Eitan-logo.png" alt="Image" />
    </div>
  </div>

  <div class="donation">
    <p>
      ניתן לתרום למרוץ בקבוצת הפייבוקס הייעודית:
      <a href="https://payboxapp.page.link/pMgwVYBRuaz28qpaA">PayBox</a>
    </p>
    <p>ניתן לתרום כל סכום וכול סכום יתקבל בברכה</p>
  </div>
</section>
