<section class="dates-container">
  <div class="title">
    <p>תאריכי הרשמה ותעריפים</p>
  </div>

  <div>
    <p>במרוץ שלנו יש 2 מקצים :</p>
    <p>10 קמ תחרותי</p>
    <p>5 קמ תחרותי</p>

    <p>ההרשמה פתוחה עד תאריך 25.10.23</p>

    <p>מרוץ שלנו אין תעריפים כל משתתף במרוץ יועבר אחרי הרשמה לקבוצת פייבוקס ייעודית
        שבה יתרום כל סכום שהוא מעוניין
    </p>


    <p>כל הכספים שיועברו בהרשמה הם תרומה לעמותת איתן</p>
  </div>

  <div class="title">
    <p>מה כוללת ההרשמה ?</p>
  </div>

  <div>
    <p>
      ההרשמה כוללת השתתפות וכניסה למרוץ פינוקים מנותני החסות מים ופירות סדרנות
      ומשטרה מתנות למנצחים מוזיקה ואוירה
    </p>
  </div>
</section>
